# Misc
__pycache__
git-redate

# Configs
config.ini

# Data
data.json
data-bets.json

# VIM
*.swp
*.swo

# Replit
poetry.lock
pyproject.toml

# Logs
bank.log
chameleon.log
shop.log
croupier.log
sample1.log
sample2.log
output.log
