# Misc
__pycache__
git-redate
gource-out.mp4
gource.ppm

# Configs
config.ini

# Data
data.json
data-bets.json
data-polling.json
data-lottery.json

# VIM
*.swp
*.swo

# Replit
poetry.lock
pyproject.toml

# Logs
bank.log
chameleon.log
shop.log
croupier.log
polls.log
sample1.log
sample2.log
output.log
lottery.log
