[bank]
LOGGING_LEVEL = 2
LOGGING_PREFIX = BANK
LOGGING_PREFIX_SIZE = 9
DATA_STORE = /app/data.json
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./bank.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
BALANCE_ACCRUE = 1
BALANCE_ACCRUE_TIME = 1.0
BALANCE_FADE = 1
BALANCE_FADE_TIME = 2.0
COMMS_ACCEPTED_SECRETS = SAMPLESECRET1,SAMPLESECRET2
COMMS_DELIM = |
COMMS_IP = 0.0.0.0
COMMS_PORT = 7101
DEFAULT_NAME = VibeBot Bank
COMMAND_PREFIX = $
IGNORE_COMMANDS = tts
STATUS_START_ONLINE = True

[chameleon]
LOGGING_LEVEL = 2
LOGGING_PREFIX = CHAMELEON
LOGGING_PREFIX_SIZE = 9
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./chameleon.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = SampleSecret
COMMS_TARGET = http://127.0.0.1:7101
COMMS_DELIM = |
TTS_COST = 600
DEFAULT_NAME = VibeBot Chameleon
COMMAND_PREFIX = $
IGNORE_COMMANDS = balance,transfer
STATUS_START_ONLINE = True

[shop]
LOGGING_LEVEL = 9
LOGGING_PREFIX = SHOP
LOGGING_PREFIX_SIZE = 9
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./shop.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = secret
COMMS_TARGET = http://127.0.0.1:7101
COMMS_DELIM = |
DEFAULT_NAME = VibeBot Shop
COMMAND_PREFIX = $
IGNORE_COMMANDS = balance,transfer
STATUS_START_ONLINE = True
