[bank]
LOGGING_LEVEL = 2
LOGGING_PREFIX = BANK
LOGGING_PREFIX_SIZE = 9
DATA_STORE = /app/config/data.json
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./config/output.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
BALANCE_ACCRUE = 1
BALANCE_ACCRUE_TIME = 1.0
BALANCE_FADE = 1
BALANCE_FADE_TIME = 2.0
COMMS_ACCEPTED_SECRETS = SAMPLESECRET1,SAMPLESECRET2
COMMS_IP = 0.0.0.0
COMMS_PORT = 7101
DEFAULT_NAME = VibeBot Bank
COMMAND_PREFIX = $
STATUS_START_ONLINE = True
TAX_ACCOUNT_ID = 1000000001
TAX_BAND_1 = 2.0
TAX_BAND_2 = 10.0
EMOJI_SOURCE = ./emojis
TRANSFER_TAX_BAND = 2

[chameleon]
LOGGING_LEVEL = 2
LOGGING_PREFIX = CHAMELEON
LOGGING_PREFIX_SIZE = 9
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./config/output.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = SAMPLESECRET2
COMMS_TARGET = http://127.0.0.1:7101
TTS_COST = 600
DEFAULT_NAME = VibeBot Chameleon
COMMAND_PREFIX = $
STATUS_START_ONLINE = True
AUDIO_CLIP_DIR = ./chameleon/audio_clips/
AUDIO_CLIP_COST = 30

[store]
LOGGING_LEVEL = 2
LOGGING_PREFIX = STORE
LOGGING_PREFIX_SIZE = 9
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./config/output.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = SAMPLESECRET1
COMMS_TARGET = http://127.0.0.1:7101
DEFAULT_NAME = VibeBot Shop
COMMAND_PREFIX = $
STATUS_START_ONLINE = True
SERVICE_TAX_BAND = 1

[croupier]
LOGGING_LEVEL = 2
LOGGING_PREFIX = CROUPIER
LOGGING_PREFIX_SIZE = 9
DATA_STORE = /app/config/data-bets.json
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./config/output.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = SAMPLESECRET2
COMMS_TARGET = http://127.0.0.1:7101
DEFAULT_NAME = VibeBot Croupier
COMMAND_PREFIX = $
BET_TAX_BAND = 2
DEATHROLL_TAX_BAND = 1
SCRATCHCARD_TAX_BAND = 1
SCRATCHCARD_MIN_BET = 50
SLOTS_TAX_BAND = 1
STATUS_START_ONLINE = True
EMOJI_SOURCE = ./emojis

[polling]
LOGGING_LEVEL = 2
LOGGING_PREFIX = POLL
LOGGING_PREFIX_SIZE = 9
DATA_STORE = /app/config/data-polling.json
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./config/output.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = secret
COMMS_TARGET = http://127.0.0.1:7101
DEFAULT_NAME = VibeBot Polling
COMMAND_PREFIX = $
STATUS_START_ONLINE = True

[lottery]
LOGGING_LEVEL = 2
LOGGING_PREFIX = LOTTERY
LOGGING_PREFIX_SIZE = 9
DATA_STORE = ./data/data-lottery.json
WRITE_TO_LOG_FILE = True
LOG_FILE_DIR = ./data/lottery.log
DISCORD_TOKEN = TOKEN HERE!
DISCORD_GUILD = SERVER NAME HERE!
COMMS_SECRET = secret
COMMS_TARGET = http://127.0.0.1:7101
DEFAULT_NAME = VibeBot Lottery
COMMAND_PREFIX = $
STATUS_START_ONLINE = True
EMOJI_SOURCE = ./emojis
LOTTERY_TAX_BAND = 2